/* MAIN COLORS */
$color-main-1: rgb(81, 2, 97);
$color-main-2: rgb(61, 2, 107);
$color-main-3: rgb(28, 6, 84); // *
$color-main-4: rgb(3, 2, 107);
$color-main-5: rgb(2, 26, 97);

/* WHITE COLORS */
$color-white-1: rgb(184, 184, 184);
$color-white-2: rgb(120, 120, 120);
$color-white-3: rgb(248, 248, 248); // *
$color-white-4: rgb(56, 56, 56);
$color-white-5: rgb(222, 222, 222);

/* EXTRA COLORS */
$color-middle-blue-purple: rgb(138, 112, 204);
$color-main-3: rgb(28, 6, 84);

$color-light-medium-orchid: rgb(221, 138, 209);
$color-french-mauve: rgb(209, 115, 194);

%bg-gradient--main-1-main-3 {
  background: $color-main-1;
  background: -moz-linear-gradient(-45deg, $color-main-1 0%, $color-main-3 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $color-main-1), color-stop(100%, $color-main-3));
  background: -webkit-linear-gradient(-45deg, $color-main-1 0%, $color-main-3 100%);
  background: -o-linear-gradient(-45deg, $color-main-1 0%, $color-main-3 100%);
  background: -ms-linear-gradient(-45deg, $color-main-1 0%, $color-main-3 100%);
  background: linear-gradient(135deg, $color-main-1 0%, $color-main-3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645c93', endColorstr='#5f3bba', GradientType=1 );
  background-attachment: fixed;
}

%bg-default-blur {
  background-color: rgba($color-white-3, 0.13);
  backdrop-filter: blur(5px);
}

/* BG CLASSES */

.bg-plump-purple {
  background-color: $color-main-3;
}

.bg-white-smoke {
  background-color: $color-white-3;
}

.bg-gradient--main-1-main-3 {
  @extend %bg-gradient--main-1-main-3;
}

.bg-default-blur {
  @extend %bg-default-blur;
}

/* TEXT CLASSES */

.text-white-smoke {
  color: $color-white-3;
}
