// .btn {
//   &__rounded {
//     &--default {
//       border-radius: 60px;
//     }
//   }

//   &-primary.focus, &-primary:focus {
//     box-shadow: none;
//   }

//   &-primary:not(:disabled):not(.disabled):active:focus {
//     box-shadow: none;
//   }
// }
