$font__weight--light: 300;
$font__weight--regular: 400;
$font__weight--medium: 500;
$font__weight--semi-bold: 600;
$font__weight--bold: 700;
$font__weight--extra-bold: 800;
$font__weight--black: 900;

h6 {
  font-weight: $font__weight--medium;
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}
