$color-plump-purple: rgb(95, 59, 186);

$color-dark-blue-gray: rgb(100, 92, 147);

$color-white-smoke: rgb(248, 248, 248);

%bg-gradient-- {
  background: $color-dark-blue-gray;
  background: -moz-linear-gradient(-45deg, $color-dark-blue-gray 0%, $color-plump-purple 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $color-dark-blue-gray), color-stop(100%, $color-plump-purple));
  background: -webkit-linear-gradient(-45deg, $color-dark-blue-gray 0%, $color-plump-purple 100%);
  background: -o-linear-gradient(-45deg, $color-dark-blue-gray 0%, $color-plump-purple 100%);
  background: -ms-linear-gradient(-45deg, $color-dark-blue-gray 0%, $color-plump-purple 100%);
  background: linear-gradient(135deg, $color-dark-blue-gray 0%, $color-plump-purple 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645c93', endColorstr='#5f3bba', GradientType=1 );
}

.bg-plump-purple {
  background-color: $color-plump-purple;
}

.bg-white-smoke {
  background-color: $color-white-smoke;
}
