<div class="container login__container d-flex align-items-center bg-default-blur mat-elevation-z12">
  <form class="row" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="col-12 login__header">
      <h6 class="text-center mb-4 d-none d-sm-block d-none d-md-block d-lg-none">iniciar sesión</h6>
    </div>
    <div class="col-12 form-group">
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email"
        formControlName="email" />
    </div>
    <div class="col-12 form-group">
      <input type="password" class="form-control" aria-describedby="passwordHelp" placeholder="Contraseña"
        formControlName="password" />
    </div>
    <div class="col-12 form-group">
      <button class="btn btn-primary btn__rounded--default btn-block" type="submit">INGRESAR</button>
    </div>
    <div class="col-12 login__footer">
      <p class="text-center">¿Problemas? <a href="#">Recuperar acceso</a></p>
    </div>
  </form>
</div>
